//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Wed 03 12 15:30:39 2025

IO_LOC "out_byte_en" 16;
IO_PORT "out_byte_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "out_byte[7]" 17;
IO_PORT "out_byte[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "out_byte[6]" 18;
IO_PORT "out_byte[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "out_byte[5]" 19;
IO_PORT "out_byte[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "out_byte[4]" 20;
IO_PORT "out_byte[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "out_byte[3]" IO_TYPE=LVCMOS33;
IO_PORT "out_byte[2]" IO_TYPE=LVCMOS33;
IO_PORT "out_byte[1]" IO_TYPE=LVCMOS33;
IO_PORT "out_byte[0]" IO_TYPE=LVCMOS33;
IO_LOC "trap" 15;
IO_PORT "trap" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "resetn" 88;
IO_PORT "resetn" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
